/*
Header ================
*/

header{
  background-image: url(images/header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-title{
  color: hsl(100, 100%, 100%);
  text-align: center;
  /*font-size: 2.5rem;*/
}

.sub-title {
  text-align: center;
}

/*
Content for All ================
*/

body{
  width: 1000px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  color: #083452;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

h2{
  color: #106db3;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

h5{
  color: #083452;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

ul{
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

/*
Main Content ================
*/

.container{
  display: flex;
  width: 80%;
  background: white;
  margin: 0 auto;
}

.blog {
  height: auto;
  width: 60%
  margin: /*1.5rem*/0 10px;
  /*background: white;
  /*font-size: 1.2rem;*/
}

.blog img {
  height: 30px;
  width: 30px;
}

.blog .anne {
  color: #083452;
  font-weight: bold;
  font-size: 1.1rem;
}

.small {
  justify-content: flex-start;
}

blockquote{
  color: #083452;
  font-family: 'Oswald', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  border-left: 2px solid #eaeaea;
  padding-left: 10px;
  margin-left: -10px;
}

.connect {
  margin: 0 auto;
  height: 10px;
  width: 400px;

}

.connect a:hoover {
  color: white;
  background-color: green;

}

.connect img {
  height: 18px;
  width: 18px;
  background: black;
  /*margin: 0.5rem;*/
}

/*
aside ================
*/

.aside{
  height: auto;
  width: 40%;
  background: white;
  margin: /*1rem*/10px auto;
  /*font-size: 1.2rem;*/
}

.contact{
  margin: 0px auto;
  text-align: center;
}

.aside .anne {
  color: #083452;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.aside ul{
  margin: 0;
  overflow: hidden;
  /*list-style: none;
  padding: 0; - removed because it in the main ul
  display: inline-block;
  padding-left: 0;
  display: block;
  padding-left: 0;*/
}

.aside li{
  float: left;
  font-size: .9rem;
}

.aside a{
  color: gray;
  margin: 6px;
}

/*.inline li{
  height: auto;
  width: 25%;
}*/


/*
PHOTO STREAM ================
*/

.stream /*post*/ ul li{
  display: inline-block;
  width: 24.5%;
  position: relative;
  background: #63a0cc;
}

.stream /*post*/ ul li img{
  width: 100%;
}

.stream /*post*/ a{
  /*padding: 1em;*/
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: relative; bottom: 10px;
  /*top: 20px;
  left: 0px;*/
  width: 100%;
}

/*.stream /*post img {
  opacity: .25;
}*/


/*.post li a{
  color: red;
}

.post li img{
  width: 100%;
  /*background-color: #083452;*/
}*/

.inner{
  position: absolute;
  left: 0px;
  bottom: 0px
}

/*main-image{

}*/

/*.photo-bar{
  height: 400px;
  width: 200px;
  display: inline-block;
}*/

/*
Footer ================
*/
footer{
  background-color: #083452;
  color: #95a8b5;
  border-radius: 0px 0px 10px 10px;
  height: 125px;
  overflow: hidden;
  /*padding: 30px 25px;*/
}

.footer-logo {
  margin-left: 60px;
}

/*footer nav a{
  color: #95a8b5;
}*/

footer li {
  display: inline-block;
  width: 24.5%;
}

footer li img{
  width: 100%;
  background-color: #083452;
}

/*footer a:hoover {
  background-color: #083452;
}
NOT WORKING YET...JUST AN IDEA*/

footer ul {
  /*list-style: none;
  display: inline-block;*/
  padding: 0;
}
